@page "/forgot"
<PageTitle>Forgot your secret?</PageTitle>

@using GainsTracker.UI.Services
@using GainsTracker.UI.Services.Auth.Interfaces
@inject IGainsAuthService AuthService;  
@inject NavigationManager NavigationManager

<div class="div-holder">
    <a href="/login"><img src="/Images/logo.png" alt="Gainstracker Logo"/></a>
    <div class="forgot-input-holder">
        <h1>Reset password</h1>
            <p>Fill in the address affiliated with your account below and we'll send you an email to update your password!</p>
        <input id="email-input" placeholder=" Email" @bind="EmailAddress"/>
        <button class="btn btn-primary" @onclick="SendMail">Send mail</button>
    </div>
</div>
@code {
    private string EmailAddress = "";
    
    private void SendMail()
    {
        
    }
}