.login-input-holder {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 10px;
    padding: 5%;
    align-items: center;
    text-align: center;
    width: 70%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.gains-logo {
    height: 5rem;
    width: 12rem;
    object-fit: cover;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
}

.login-button-container {
    width: 50%;
}

.create-account-description {
    width: 100%;
    font-weight: lighter;
    font-size: 14px;
    margin: 0;
}
