@page "/login"
@using GainsTracker.UI.Services
@inject IGainsAuthService AuthService;  
@inject NavigationManager NavigationManager

<div class="div-holder">
    <img src="/Images/logo.png" alt="Gainstracker Logo"/>
    <div class="login-input-holder">
        <h1>Welcome to the Gains Tracker!</h1>
        <input id="username-input" placeholder=" Username" @bind="_userHandle"/>
        <input id="password-input" type="password" placeholder=" Password" @bind="_password"/>
        <button class="btn btn-primary" @onclick="Login">Login</button>
        <p>Don't have an account yet? No worries! You can make one <a href="/register">here</a>.</p>
        <a id="forgot-password" href="/forgot">Forgot password?</a>
    </div>
</div>

@code {
    private string _userHandle = "";
    private string _password = "";

    private async void Login()
    {
        var loginSuccess = await AuthService.Login(_userHandle, _password);
        if (loginSuccess)
            NavigationManager.NavigateTo("/dashboard");
    }
}
