@using GainsTracker.UI.Elements.Group
@using GainsTracker.UI.Elements.Shared
@using GainsTracker.UI.Services.Auth.Interfaces
@using GainsTracker.UI.Elements.TextInput
@using GainsTracker.UI.Elements.Button
@using GainsTracker.UI.Elements.Anchor
@using GainsTracker.UI.Elements.Header

@page "/login"

<PageTitle>Login</PageTitle>

@inject IGainsAuthService AuthService;  
@inject NavigationManager NavigationManager

<div class="page-container">
    <img class="gains-logo" src="/Images/logo.png" alt="GainsTracker Logo"/>
    <div class="login-container">
        <GtHeader>Welcome to the Gains Tracker!</GtHeader>
        <GtGroup @ref="_textInputGroup">
            <GtTextInput
                @bind-Value="_userHandle"
                Placeholder="Username"
                TextInputType="GtTextInputType.Text"
                Variant="GtVariant.Primary"
                Required="true"
                OnEnter="Login"/>
            <GtTextInput
                @bind-Value="@_password"
                Placeholder="Password"
                TextInputType="GtTextInputType.Password"
                Variant="GtVariant.Primary"
                Required="true"
                OnEnter="Login"/>
        </GtGroup>

        <div class="actions">
            <span class="login-button-container">
                <GtButton OnClick="Login" ShowMuscles="true">Login</GtButton>
            </span>
            <p class="create-account-description">Don't have an account yet? No worries! You can make one
                <GtAnchor Href="/register">here</GtAnchor>.
            </p>
            <GtAnchor Href="/register">Forgot password?</GtAnchor>
        </div>
    </div>
</div>

@code {
    private GtGroup? _textInputGroup;
    private string _userHandle = "";
    private string _password = "";

    private async Task Login()
    {
        if (_textInputGroup == null || !_textInputGroup.ValidateAll())
            return;

        var loginSuccess = await AuthService.Login(_userHandle, _password);
        if (loginSuccess)
            NavigationManager.NavigateTo("/dashboard");
    }
}
