@using GainsTracker.UI.Services.Auth.Interfaces
@using GainsTracker.UI.Elements.Button
@using GainsTracker.UI.Elements.Anchor
@using GainsTracker.UI.Elements.Group
@using GainsTracker.UI.Elements.Shared
@using GainsTracker.UI.Elements.Header
@using GainsTracker.UI.Elements.TextInput

@page "/register"

<PageTitle>Register</PageTitle>

@inject IGainsAuthService AuthService;  
@inject NavigationManager NavigationManager

<div class="page-container">
    <a href="/login"><img class="gains-logo" src="/Images/logo.png" alt="Gainstracker Logo"/></a>
    <div class="register-container">
        <div class="anchor-container">
            <GtAnchor Variant="GtVariant.Primary" Href="/login">&lt; Already have an account?</GtAnchor>
        </div>
        <GtHeader>Create your account</GtHeader>
        <GtGroup @ref="_textInputGroup">
            <GtTextInput
                @bind-Value="_userHandle"
                Placeholder="Username"
                TextInputType="GtTextInputType.Text"
                Variant="GtVariant.Primary"
                Required="true"/>
            <GtTextInput
                @bind-Value="@_emailAddress"
                Placeholder="Email"
                TextInputType="GtTextInputType.Email"
                Variant="GtVariant.Primary"
                Required="true"/>
            <GtTextInput
                @bind-Value="@_password"
                Placeholder="Password"
                TextInputType="GtTextInputType.Password"
                Variant="GtVariant.Primary"
                Required="true"/>
        </GtGroup>
        <GtButton OnClick="Register" ShowMuscles="true">Start gaining!</GtButton>
    </div>
</div>

@code {
    private GtGroup? _textInputGroup;
    private string _userHandle = "";
    private string _emailAddress = "";
    private string _password = "";

    private async Task Register()
    {
        if (_textInputGroup != null && !_textInputGroup.ValidateAll()) return;

        var registered = await AuthService.SignUp(_emailAddress, _password);
        if (registered)
            NavigationManager.NavigateTo("/dashboard");
    }
}