.workout-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    color: var(--primary-color);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    width: calc(100% - 20px); /* Subtracts margin or padding */
    max-width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensures padding doesn’t overflow */
}

.workout-info h3 {
    margin: 0;
    font-size: 18px;
}

.workout-info p {
    margin: 5px 0 0;
    font-size: 14px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}
