.gt-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gt-button-container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.gt-button {
    position: relative;
    overflow: visible; /* Allows emojis to appear outside button bounds */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: bold;
    color: var(--font-color-inverted);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    text-align: center;
    z-index: 1; /* Ensure the button stays above emojis */
    min-width: fit-content;
}

.gt-button:hover {
    background-color: var(--accent-color);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

.gt-button:active {
    background-color: var(--primary-color);
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hover emoji default state */
.hover-emoji {
    position: absolute;
    opacity: 0;
    font-size: 2rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
}

.hover-emoji.left {
    top: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
}

.hover-emoji.right {
    top: 50%;
    right: 1rem;
    transform: translate(50%, -50%) scaleX(-1);
}

.gt-button-container:hover .hover-emoji.left,
.gt-button-container:active .hover-emoji.left {
    opacity: 1;
    transform: translate(-150%, -50%);
}

.gt-button-container:hover .hover-emoji.right,
.gt-button-container:active .hover-emoji.right {
    opacity: 1;
    transform: translate(150%, -50%) scaleX(-1);
}

.full-width {
    width: 10em;
}
