@page "/authentication/{action}"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject IConfiguration Configuration

<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="HandleLoginSuccess">
    <LogOut>
        @{
            var authority = Configuration["Auth0:Authority"];
            var clientId = Configuration["Auth0:ClientId"];

            Navigation.NavigateTo($"{authority}/v2/logout?client_id={clientId}");
        }
    </LogOut>
    <LoggingIn>
        <div></div>
    </LoggingIn>
    <CompletingLoggingIn>
        <h1>Completing login..</h1>
    </CompletingLoggingIn>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string Action { get; set; } = string.Empty;
    
    private void HandleLoginSuccess()
    {
        Navigation.NavigateTo("/");
    }
}
