@using GainsTracker.UI.Elements.Header
@using GainsTracker.UI.Elements.Button
@using GainsTracker.UI.Elements.Anchor

<div class="page-container">
    <img class="gains-logo" src="/Images/logo.png" alt="GainsTracker Logo"/>
    <div class="hello-container">
        <GtHeader>You don't have access to that resource.</GtHeader>
    </div>
</div>
