:root {
    /* dark theme */
    /* TODO: change to actual dark theme colors*/
    --primary-color: #7ED957;
    --font-color: #000;
    --font-color-inverted: #ffffff;
    --title-color: #499C48;
    --input-color: #EEEEEE;
}

button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border-color: grey;
}

.page {
    background-color: var(--primary-color);
    color: var(--font-color);
}