:root {
    /* Light theme */
    --background: #fff;
    --primary-color: #00ff2c;
    --font-color: #000;
    --font-color-2: #fff;
    --highlight: #f7f7f7;
    --highlight-2: #95a6a6;
    --link: #0366d6;
}

button {
    background-color: #00ff2c;
    color: var(--font-color);
}

.page {
    background-color: var(--background);
    color: var(--font-color);
}

button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border-color: var(--highlight-2);
}

.page {
    background-color: var(--background);
    color: var(--font-color);
}