@using GainsTracker.UI.Components.Shared
@inherits GtBase

<div class="@Class gt-input-wrapper">
    <input
        @bind="@Value"
        @bind:event="oninput"
        type="@InputType"
        class="gt-input @TypeClass"
        placeholder="@Placeholder" />
</div>

@code {
    [Parameter] public string Value { get; set; } = string.Empty; // Bound value
    [Parameter] public EventCallback<string> ValueChanged { get; set; } // For two-way binding
    [Parameter] public string Placeholder { get; set; } = string.Empty; // Placeholder for input
    [Parameter] public string InputType { get; set; } = "text"; // Input type (text, number, etc.)
    [Parameter] public EventCallback<ChangeEventArgs> OnInput { get; set; } // Event for handling input
    [Parameter] public GtType Type { get; set; } = GtType.Primary; // Style type

    private string TypeClass => Type switch
    {
        GtType.Primary => "gt-input-primary",
        GtType.Secondary => "gt-input-secondary",
        _ => "gt-input-primary",
    };
}