@page "/activities"

<PageTitle>Activities</PageTitle>

<h3>Activities</h3>

<ol>
    @foreach (var activity in RecentActivities)
    {
        <li>@activity</li>
    }
</ol>

@code {
    public List<string> RecentActivities = new()
    {
        "@brands hit a new PB! 60kg on the Bench Press.",
        "@meneerovereem set a new goal for himself. 0 -> 1 boulder trails",
    };
}
