@using GainsTracker.Common
@using GainsTracker.UI.Services.API.Interfaces
@using GainsTracker.UI.Elements.Header
@using GainsTracker.UI.Elements.Shared
@using GainsTracker.UI.Elements.Icon

@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

@inject IGainsTrackerService GainsTrackerService;

<!doctype html>
<meta name="viewport" content="width=device-width"/>
<div class="content-holder">
    <img src="/Images/logo.png" alt="Gainstracker Logo"/>
    <div class="page-container">
        <div class="welcome">
            <GtHeader Variant="GtVariant.Secondary">Welcome, gainer!</GtHeader>
            <p>Swole is the goal, size is the prize</p>
        </div>
        <div class="recent-pbs">
            <h2>Recent personal bests</h2>
            <button @onclick="GetPbs">aaa</button>
            <ul class="recent-pbs-list"></ul>
        </div>
        <div class="goals">
            <h2>Your goals</h2>
        </div>
    </div>
</div>

@code {
    private async Task GetPbs()
    {
        var pbs = await GainsTrackerService.GetUserWorkouts();
        Console.WriteLine(pbs);
    }

    private void GetGoals()
    {
    }
}