@using GainsTracker.UI.Elements.Header
@using GainsTracker.UI.Elements.Shared
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<!doctype html>
<meta name="viewport" content="width=device-width"/>
<div class="content-holder">
    <img src="/Images/logo.png" alt="Gainstracker Logo"/>
    <div class="page-container">
        <div class="welcome">
            <GtHeader Variant="GtVariant.Secondary">Welcome, gainer!</GtHeader>
            <p>Swole is the goal, size is the prize</p>
        </div>
        <div class="recent-pbs">
            <h2>Recent personal bests</h2>
            <ul class="recent-pbs-list"></ul>
        </div>
        <div class="goals">
            <h2>Your goals</h2>
        </div>
    </div>
</div>

@code {
    private void GetPbs()
    {
    }

    private void GetGoals()
    {
    }
}