@page "/dashboard"
<!doctype html>
    <meta name="viewport" content="width=device-width"/>
<div class="content-holder">
    <img src="/Images/logo.png" alt="Gainstracker Logo"/>
    <div class="div-holder">
        <div class="welcome">
            <h1>Welcome, gainer!</h1>
            <p>Swole is the goal, size is the price</p>
        </div>
        <div class="recent-pbs"></div>
        <div class="goals"></div>
    </div>
</div>