@page "/dashboard"
<PageTitle>Dashboard</PageTitle>

@using GainsTracker.UI.Services
@using GainsTracker.UI.Services.API.Interfaces
@inject IGainsTrackerService GainsTrackerService;

<!doctype html>
    <meta name="viewport" content="width=device-width"/>
<div class="content-holder">
    <img src="/Images/logo.png" alt="Gainstracker Logo"/>
    <div class="div-holder">
        <div class="welcome">
            <h1>Welcome, gainer!</h1>
            <p>Swole is the goal, size is the price</p>
        </div>
        <div class="recent-pbs">
            <h2>Recent personal bests</h2>
            <button @onclick="GetPbs">aaa</button>
            <ul class="recent-pbs-list"></ul>
        </div>
        <div class="goals">
            <h2>Your goals</h2>
        </div>
    </div>
</div>

@code {
    private async void GetPbs()
    {
        var pbs = await GainsTrackerService.GetUserWorkouts();
        Console.WriteLine(pbs);
    }

    private void GetGoals()
    {
        
    }
}