@page "/register"
@using GainsTracker.UI.Services
@inject IGainsAuthService AuthService;  
@inject NavigationManager NavigationManager

<div class="div-holder">
    <a href="/login"><img src="/Images/logo.png" alt="Gainstracker Logo"/></a>
    <div class="register-input-holder">
        <h1>Create your account</h1>
        <input id="username-input" placeholder=" Username" @bind="UserHandle"/>
        <input id="email-input" placeholder=" Email" @bind="EmailAddress"/>
        <input id="password-input" type="password" placeholder=" Password" @bind="Password"/>
        <button class="btn btn-primary" @onclick="Register">Start gaining!</button>
    </div>
</div>

@code {
    private string UserHandle = "";
    private string EmailAddress = "";
    private string Password = "";

    private async void Register()
    {
        var registered = await AuthService.SignUp(EmailAddress, Password);
        if (registered)
            NavigationManager.NavigateTo("/login");
        else
            Console.WriteLine("uh oh");
    }
}