@using GainsTracker.Common
@using GainsTracker.UI.Auth
@using GainsTracker.UI.Elements.Icon
@using GainsTracker.UI.Elements.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager
@inject IAuthService Auth

<nav class="nav-bar">
    @* Dashboard *@
    <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All" ActiveClass="active-link">
        <div class="nav-link-info">
            <p class="nav-icon">
                <GtIcon Icon="Mdi.HomeEdit"></GtIcon>
            </p>
            <p class="nav-description">Dashboard</p>
        </div>
    </NavLink>

    @* Log *@
    <NavLink class="nav-link" href="logging" ActiveClass="active-link">
        <div class="nav-link-info">
            <p class="nav-icon">
                <GtIcon Icon="Mdi.Book"></GtIcon>
            </p>
            <p class="nav-description">Logging</p>
        </div>
    </NavLink>

    @* Activity *@
    <NavLink class="nav-link" href="activities" ActiveClass="active-link">
        <div class="nav-link-info">
            <p class="nav-icon">
                <GtIcon Icon="Mdi.Bell"></GtIcon>
            </p>
            <p class="nav-description">Activities</p>
        </div>
    </NavLink>

    @* Profile *@
    <NavLink class="nav-link" href="profile" ActiveClass="active-link">
        <div class="nav-link-info">
            <p class="nav-icon">
                <GtIcon Icon="Mdi.Cow"></GtIcon>
            </p>
            <p class="nav-description">Profile</p>
        </div>
    </NavLink>

    @* Logout *@
    <div class="nav-link" href="#" @onclick="BeginLogout">
        <div class="nav-link-info">
            <p class="nav-icon">
                <GtIcon Icon="Mdi.Logout" />
            </p>
            <p class="nav-description">
                <span> Logout</span>
            </p>
        </div>
    </div>
</nav>

@code {
    private async Task BeginLogout()
    {
        await Auth.Logout();
        NavigationManager.NavigateToLogout("authentication/logout");
    }
}