.page {
    font-family: 'Inter', serif;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: column-reverse;
    background-color: #0b6200;
    bottom: 0;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* For tablet up to desktop */
@media only screen and (min-width: 600px) {
    .navigation {
        flex-direction: column;
        top: 0;
    }

    .page {
        display: flex;
        flex-direction: column;
    }
}