@using GainsTracker.UI.Components
@inherits LayoutComponentBase

@inject NavigationManager NavManager

<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">

<ElementManipulator IsDarkTheme="IsDark"></ElementManipulator>

<div class="page">
    @if (NavManager.Uri.Split("/").Last() != "login" && NavManager.Uri.Split("/").Last() != "register" && NavManager.Uri.Split("/").Last() != "forgot")
    {
        <header class="navigation">
            <NavMenu/>
        </header>
    }

    <main>
        @* <button id="toggleThemeButton" @onclick="ToggleDarkMode">Toggle theme</button> *@
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    [Parameter] public bool IsDark { get; set; }

    private void ToggleDarkMode()
    {
        IsDark = !IsDark;
    }

}