<nav class="flex-column">
    <div class="nav-item">
        <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="login">
            Login page
        </NavLink>
    </div>
</nav>