.nav-bar {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    height: 5rem;
}

::deep .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    height:100%;
    width: 25%;
    text-align: center;
}

::deep .nav-link:hover {
    background-color: lightgreen;
}

.nav-link-info .nav-icon, .nav-link-info .nav-description {
    margin: 0;
}

.nav-description {
    display: none;
}

.nav-icon {
    font-size: xx-large;
}

::deep .active-link {
    background-color: var(--primary-color);
}

/* For tablet up to desktop */
@media only screen and (min-width: 600px) {
    .nav-icon {
        display: none;
    }

    .nav-description {
        display: block;
    }
}